
/*--- UNIVERSAL ---*/
// $white: #f8f7fc;
// $lilac: #bba6de;

body {
    overflow-X: hidden;
    background-color: $lilac;
    margin: 0;
    padding: 0;
    perspective: 900px;
}

a {
    text-decoration: none;
    color: $darkModeBg;

    &:hover {
        color:black;//fix later
    }
}


button {
    //fix later
}

hr {
    border-color: black;//fix later
}

/*---DARK MODE ---*/
.darkMode,
.darkMode {
    background-color: black;//fix later
}

/*--- SITE HEADER ---*/
.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('data:image/svg+xml,<svg id="eAGeDqr0wZL1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1080" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><rect width="2425.253232" height="1420.134913" rx="0" ry="0" transform="translate(-269.615181-228.696638)" fill="%23bba6de" stroke-width="0"/><path d="M-175.8636,147.16973L168.801889,523.488172L534.569347,147.16973L590.841263,301.9175l109.026839-92.520788Q970.676701,632.51501,974.193695,632.51501t221.570671-144.196786l77.373885-172.332744l228.604661,284.876577l193.434713-432.590358l151.230776,288.393572l119.577822-330.59751q98.475855-246.189635,91.441865-246.189635c-7.03399,0-1948.415111-45.720932-1955.4491-45.720932q-7.033989,0-277.842588,313.012536Z" transform="translate(-3.516995 18.663898)" fill="%23ddc9ff" stroke-width="3.84"/></svg>')
}
