
/*--- UNIVERSAL ---*/
// $white: #f8f7fc;
$lilac: #ebebfb;
$buttoncolour: #a492d4;
$accentbgcolour: #bdbbf2;
$fontcolour: #110638;
$linkcolour: #244570;
$linkhovercolour:#f2d049;
$linkclickedcolour: #684399;
//dark mode
$darkmodebgcolour:#544f70;
$darkmodebuttonycolour:#78527d;
$darkmodeaccentbgcolour:#957bb0;
$darkmodefontcolour:#faf7ff;
$darkmodelinkcolour:#d9e3ff;
$darkmodelinkhovercolour:#ffeca1;
$darkmodelinkclickedcolour:#e3c0fa;
body {
    overflow-X: hidden;
    background-color: $lilac;
    color: $fontcolour;
}
.dark-mode{
    background-color:$darkmodebgcolour;
    color:$darkmodefontcolour;
}
.container{
    display:flex;
    flex-direction:column;
    flex-wrap:no-wrap;
    align-items:center;
    align-content: stretch;
    justify-content:space-between;
    //background-color:yellow;
}

a{
    color: $linkcolour;
    text-decoration: none;
}
/*--- SITE COMPONENTS ---*/
//HEADER
.banner img{
   height:200px;
   width:200px;
}
.banner{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $accentbgcolour;
}
//FOOTER
footer {
    background-color: $accentbgcolour;
    color: $fontcolour;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}
//NAVBAR
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $accentbgcolour;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.main-nav ul li{
    float:center;
}
//dropdown menu
.dropdown{
    position:relative;
}

.dropbtn{
    background-color:$buttoncolour;
    color:$fontcolour;
    padding: 10px;
    border:none;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color:$accentbgcolour;
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content a{
    color:$linkcolour;
    text-decoration:none;
    padding:12px 16px;
    display:block;
}

.dropdown-content a:hover{
    background-color:$linkhovercolour;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.dropdown:hover .dropbtn{
    background-color:$buttoncolour;
}