@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*--- UNIVERSAL ---*/
$white: #f8f7fc;
/*modal body background*/
$lilac: #bba6de;
/*main body background*/
$darkpinkpurple: #7b4899;
/*<hr> and topnav*/
$lilactopnav: #DDC9FF;
/*top nav background*/
$cardpurple: #a189c7;
$darkModeBg:#230f44;
$darkModeBgMountains: #926FCF;
$darkModelinkHover: #b078cb;
$darkModelinkActive: #deaef5;

body {
    overflow-X: hidden;
    background-color: $lilac;
    margin: 0;
    padding: 0;
    perspective: 900px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: $darkModeBg;
}

a {
    text-decoration: none;
    color: $darkModeBg;

    &:hover {
        text-decoration: underline;
        transform: scale(1.05);
        font-weight: 600;
        background-color: $lilac;
    }
}


button {
    background: inherit;
    border: none;
    font-size: inherit;
}

hr {
    border-color: $darkpinkpurple;
}

table,
th,
td {
    border-color: $darkModeBg;
    border: 2px solid;
    border-collapse: collapse;
    background-color: $lilac;
}

/*---DARK MODE ---*/
.darkMode,
.darkMode .modal-content {
    background-color: $darkModeBg;
    color: $white;
}

.darkMode a {
    color: $white;
    text-decoration: none;
}

.darkMode a:hover {
    color: $darkModelinkHover;
}

.darkMode a.active {
    color: $darkModelinkActive;
}

.darkMode .banner {
    background-image: url('data:image/svg+xml,<svg id="eP6STWEU30G1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1080" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><rect width="2425.253232" height="1420.134913" rx="0" ry="0" transform="translate(-269.615181-228.696638)" fill="%23230f44" stroke-width="0"/><path d="M-175.8636,147.16973L168.801889,523.488172L534.569347,147.16973L590.841263,301.9175l109.026839-92.520788Q970.676701,632.51501,974.193695,632.51501t221.570671-144.196786l77.373885-172.332744l228.604661,284.876577l193.434713-432.590358l151.230776,288.393572l119.577822-330.59751q98.475855-246.189635,91.441865-246.189635c-7.03399,0-1948.415111-45.720932-1955.4491-45.720932q-7.033989,0-277.842588,313.012536Z" transform="translate(-3.516995 18.663898)" fill="%23926fcf" stroke-width="3.84"/></svg>');
}

.darkMode .top-banner,
.darkMode .modal-header,
.darkMode .modal-footer {
    background-color: $darkModeBgMountains;
}

.darkMode .topnav button {
    color: $white;
}

.darkMode .footer {
    background-image: url('data:image/svg+xml,<svg id="eP6STWEU30G1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1080" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><rect width="2425.253232" height="1420.134913" rx="0" ry="0" transform="translate(-269.615181-228.696638)" fill="%23230f44" stroke-width="0"/><path d="M-175.8636,147.16973L168.801889,523.488172L534.569347,147.16973L590.841263,301.9175l109.026839-92.520788Q970.676701,632.51501,974.193695,632.51501t221.570671-144.196786l77.373885-172.332744l228.604661,284.876577l193.434713-432.590358l151.230776,288.393572l119.577822-330.59751q98.475855-246.189635,91.441865-246.189635c-7.03399,0-1948.415111-45.720932-1955.4491-45.720932q-7.033989,0-277.842588,313.012536Z" transform="translate(-3.516995 18.663898)" fill="%23926fcf" stroke-width="3.84"/></svg>');
    transform: rotate(180deg);
}

.darkMode .modal-btn {
    color: $white;
}

.darkMode .item_content {
    background-color: $darkModeBg;
}

.darkMode .mbc_content-hover {
    background-color: $darkModeBg;
}

/*--- SITE HEADER ---*/
.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('data:image/svg+xml,<svg id="eAGeDqr0wZL1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1080" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><rect width="2425.253232" height="1420.134913" rx="0" ry="0" transform="translate(-269.615181-228.696638)" fill="%23bba6de" stroke-width="0"/><path d="M-175.8636,147.16973L168.801889,523.488172L534.569347,147.16973L590.841263,301.9175l109.026839-92.520788Q970.676701,632.51501,974.193695,632.51501t221.570671-144.196786l77.373885-172.332744l228.604661,284.876577l193.434713-432.590358l151.230776,288.393572l119.577822-330.59751q98.475855-246.189635,91.441865-246.189635c-7.03399,0-1948.415111-45.720932-1955.4491-45.720932q-7.033989,0-277.842588,313.012536Z" transform="translate(-3.516995 18.663898)" fill="%23ddc9ff" stroke-width="3.84"/></svg>')
}

.top-banner {
    background-color: $lilactopnav;
    height: 60px;
    width: 100%;
}

/*-- menu --*/
.topnav {
    overflow: hidden;
    padding: 14px 16px;
    margin: auto 14px;
}

/*tab class*/
.topnav button {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

.dog {
    display: block;
    position: block;
    width: 200px;
    margin: 100px auto 0 auto;
    z-index: 1;
    transition: transform 250ms linear;
}

.dog:hover {
    transform: rotate3d(0, 1, 0, 80deg);
}

.top-banner_name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.top-banner_desc {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 5px 0 5px;
}

/*filter tabs*/
#portfolio-filters {
    list-style-type: none;
}

/*--- END OF SITE HEADER ---*/

/*--- TABS AND TAB CONTENT*/
.topnav button {
    padding: 8px 16px;
}

.topnav button:hover,
.topnav button.active,
.filter-active {
    color: $lilac;
    background-color: $darkpinkpurple;
    font-size: 17px;
    animation: fadeEffect 0.5s;
}

.tabcontent {
    display: none;
    animation: fadeEffect 1.02s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*--- PROJECT GRID STUFF ---*/

#project-grid {
    display: grid;
    margin: 80px 0;
    grid-template-columns: auto auto;
}

.pcontainer {
    perspective: 1000px;
}

.card {
    height: 300px;
    text-align: center;
    overflow: hidden;
    // position: relative;
    // transition: transform 0.65s;
    // transform-style: preserve-3d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: 700px;
    background-position: center;
}

/*-- individual project squares*/
#project1 {
    background-image: url('https://pbs.twimg.com/media/FqjphO0WYAMtdu2?format=jpg&name=4096x4096');
}

#project2 {
    background-image: url('https://pbs.twimg.com/media/FiMjNK_WYAAWmls?format=jpg&name=medium');
}

#project3 {
    background-image: url('https://pbs.twimg.com/media/FhtpuF5XkAAynEm?format=jpg&name=medium');
}

#project4 {
    background-image: url('https://pbs.twimg.com/media/FX1X4vVVsAQnkPa?format=jpg&name=medium');
}

#project5 {
    background-image: url('https://optim.tildacdn.one/tild6238-3035-4335-a333-306335373139/-/resize/760x/-/format/webp/IMG_3349.jpg');

}

/* #project6 {
    background-image: url('https://miro.medium.com/v2/resize:fit:720/format:webp/1*_NVBTVdmjt3Qvq3CZOySXg.png');
}
 */
#project7 {
    background-image: url("/assets/timeToTalk-itchioCoverArtboard-1.png");
}

#project8 {
    background-image: url('/assets/cartridgecollector.JPG');
}

#project9 {
    background-image: url('/assets/ghost01.JPG');
}

#project10 {
    background-image: url('/assets/code/android-code.jpg');
}

#project11 {
    background-image: url('https://images.pexels.com/photos/1294886/pexels-photo-1294886.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

#project12 {
    background-image: url('https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

#project13 {
    background-image: url('https://images.pexels.com/photos/273230/pexels-photo-273230.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

#project14 {
    background-image: url('/assets/ux/peezyFindMoodboard.jpg');
}

#project15 {
    background-image: url('/assets/art/ella-collab/kitchen.jpg');
}

#project16 {
    background-image: url('/assets/code/javadrawingapp.jpg');
}

#project17 {
    background-image: url('/assets/art/layouts/layout5.jpg');
}

#project18 {
    background-image: url('/assets/code/react-appThumbnail.jpg');
}

#project19{
    background-image:url('/assets/code/milliegame-screenshot.JPG');
}
#project20{
    background-image:url('/assets/art/NOLA/NOLA-ghostsBG.png');
}

/*-- project square content --*/
.is-active {
    position: absolute;
    // backface-visiblity: hidden;
}

.item_content {
    background-color: $cardpurple;
    position: absolute;
    // box-sizing: border-box;
    // backface-visiblity: hidden;
    // transform: rotateY(180deg);
    // display: none;
    padding: 40px 80px;
    border-radius: 40px;
    transform: scale(0);
    transform: 50 50;
    transition: transform 1s 0s;
}

.card:hover>.item_content {
    transform: scale(1);
}

/*back of card*/
.item_title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.item_description {
    font-size: 15px;
    line-height: 1.4;
}

/*--- ABOUT GRID STUFF ---*/
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin: auto auto 80px auto;
}

.about-txt {
    width: 60%;
    margin: auto 32px;
}

#about-email {
    text-align: center;
}

.about-img {
    width: 70%;
    margin: auto auto;
    border-radius: 20px;
}

/*--- CV GRID STUFF ---*/
.cv-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 100%;
    margin: auto auto 80px auto;
}

.cv-education,
.cv-work,
.cv-skills,
.cv-courses,
.cv-interests {
    width: 80%;
    margin: 10px auto;
}

/*--- education ---*/
.cv-e_item,
.cv-w_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.cv_Info {
    text-align: right;
}

/*--- skills ---*/
.cv-s_table {
    text-align: left;
    width: 100%;
}

.cv-s_tableInfo {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

/*--- coursework / interests---*/
.cv-c_container,
.cv-i_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

/*--- MODAL ---*/
.modal {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1;
    padding: 100px 15px;
    left: 0;
    top: 0;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.55);
    /*black with low opacity*/
}

.modal-btn,
.proj_outsideLink {
    padding: 6px 12px;
    background-color: inherit;
    border: none;
    font-size: 14px;
}

.modal-btn:hover,
.proj_outsideLink:hover {
    /*background-color:pink;*/
    text-decoration: underline;
    font-weight: 600;
}

.modal-content {
    position: relative;
    background-color: $white;
    margin: 5px auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-body {
    display: grid;
    grid-template-columns: auto;
}

.modal-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.modal-img:hover {
    transform: scale(1.05);
}

/*modal body captions*/
.mbc_container {
    overflow: hidden;
    cursor: pointer;
    width: inherit;

}

.mbc_container:hover .mbc_content-hover {
    display: block;
}

.mbc_content {
    display: none;
}

.mbc_content-hover {
    z-index: 1;
    position: absolute;
    white-space: nowrap;
    display: none;
    padding: 1rem;
    background: $white;
    font-weight: 400;
}

/*-- email modal form*/
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 2px solid #7b4899;
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #bba6de;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #7b4899;
    color: white;
}

.contact-form_container {
    border-radius: 5px;
    padding: 20px;
}

/*-- modal animation --*/
/* @-webkit-keyframes animateop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
} */

/*slideshow*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: $darkModeBg;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideText {
    color: $darkModeBg;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slideNumbertext {
    color: $darkModeBg;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

/*-- close button --*/
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*-- modal content --*/
.modal-header {
    padding: 2px 16px;
    color: #efd9fc;
    background-color: #7b4899;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    color: #efd9fc;
    background-color: #7b4899;
}

/*--- END OF MODAL ---*/

/*--- SCROLL BUTTON ---*/
.scroll{
    
}

/*--- FOOTER ---*/
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    transform: rotate(180deg);
}

.f_btns {
    font-size: 16px;
    background-color: inherit;
    border: none;
}

.f_btns:hover {
    transform: scale(1.2);
}

.f_contact,
.f_morelinks,
.f_socials {
    transform: rotate(180deg);
}

#i-insta,
#i-twit,
#i-snap {
    height: 20px;
    font-size: 30px;
}

/*--- END OF FOOTER ---*/

/*--- RESPONSIVENESS ---*/

@media screen and (max-width:700px) {

    /*--- TOP NAV BAR---*/
    .topnav button{
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        font-size:40px;
        top:10px;
    }

    .topnav.responsive {
        position: relative;
        background-color: $lilactopnav;
        z-index: 1;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1;
    }

    .topnav.responsive button {
        float: none;
        display: block;
    }
    #portfolio-filters .tablinks, #portfolio-filters .designbtn{
        font-size:22px;
    }
    .dog {
        width: 200px;
        height: 200px;
        z-index:0;
    }

    .top-banner_name {
        font-size: 22px;
    }

    /*--- PROJECT GRID ---*/
    #project-grid {
        margin: 50px 0;
        grid-template-columns: auto;
    }
    /*-- modals of projects --*/
    .modal-body{
        display:flex;
        flex-direction:column;
    }

    /*--- CV GRID ---*/
    .cv-s_tableInfo {
        width: 270px;
        flex-wrap: wrap;
        margin: 8px;
    }

    /*--- ABOUT GRID ---*/
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        margin: 60px auto 60px auto;
    }

    .about-item,
    .about-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*--- FOOTER ---*/
    .footer {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {

    .dog {
        width: 100px;
        height: 100px;
    }

    .top-banner_name {
        font-size: 20px;
    }
}

/*--- END OF RESPONSIVENESS ---*/