/*global styles*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
body {
  background-color: #dfdaf4;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/*----- universal -----*/
main {
  margin: auto;
}
/*button*/
.btn-primary {
  background-color: #c0b7e5;
  color: black;
  border: none;
  padding: 1rem 2rem;
}
.btn-primary:hover {
  background-color: #a496d9;
}
/*end of button*/
/*navbar*/
.navbar {
  background-color: #c0b7e5;
}
.nav {
  padding: 0 4rem;
}
/*end of navbar*/

/*project grid*/
#project-grid {
  margin: 10rem 0;
}
#project-grid-item {
  background-color: #c0b7e5;
  height: 36rem;
  width: 50%;
  padding: 0 0;
}
.project-grid-item-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/*end of project grid*/

/*footer*/
#footer {
  display: flex;
  justify-content: center;
  margin: 0 0;
  padding: 0 0;
}
.icons {
  height: 3rem;
  width: 3rem;
}
/*end of footer*/

/*----- end of universal -----*/

/*----- home page -----*/
#mainhome {
  margin-bottom: 13rem;
}
#introcontent {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.doglogo {
  height: 30rem;
  width: 30rem;
}
/*----- end home page ----- */

/*----- projects page -----*/

/*----- end projects page ----- */

/*----- about page -----*/
#meblurb {
  width: 45rem;
  margin: auto auto;
}
#cv {
  width: 90rem;
  margin: auto auto;
  padding: auto auto;
}
.media {
  width: 40rem;
}

/*----- end about page ----- */
