/*global styles*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
body {
  background-color: #dfdaf4;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/*----- universal -----*/
main {
  margin: auto;
}
/*button*/
.btn-primary {
  background-color: #c0b7e5;
  color: black;
  border: none;
  padding: 1rem 2rem;
}
.btn-primary:hover {
  background-color: #a496d9;
}
/*end of button*/
/*navbar*/
.navbar {
  background-color: #c0b7e5;
  margin: 0 0;
  padding: 0 0;
  border: none;
}
.nav {
  padding: 0 4rem;
}
.active li {
  background-color: #a496d9;
}
/*end of navbar*/

/*project grid*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #a496d9;
}
.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#project-grid {
  margin: 10rem 0;
}
#project-grid-item {
  background-color: #c0b7e5;
  height: 36rem;
  width: 50%;
  padding: 0 0;
}
#project-grid-item:hover .overlay {
  opacity: 0.7;
}
.project-grid-item-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/*end of project grid*/

/*footer*/
#footer {
  display: flex;
  justify-content: center;
  margin: 0 0;
  padding: 0 0;
}
.icons {
  height: 3rem;
  width: 3rem;
}
/*end of footer*/

/*----- end of universal -----*/

/*----- home page -----*/
#mainhome {
  margin-bottom: 13rem;
}
#introcontent {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.doglogo {
  height: 30rem;
  width: 30rem;
}
/*----- end home page ----- */

/*----- projects page -----*/
.subnav {
  padding: 0 0;
  margin: 0 0;
  background-color: #a496d9;
  border: none;
}
/*----- end projects page ----- */

/*----- about page -----*/
#meblurb {
  width: 45rem;
  margin: 6rem auto;
}
#cv {
  width: 90rem;
  margin: auto auto;
  padding: auto auto;
}
.media {
  width: 40rem;
}

/*----- end about page ----- */
